/*.................................................................here we give the dimension to the app..........................................*/
body {
  color: whitesmoke;
}
.App {
  width: 99vw;
  height: 99vh;
}

/*...........................................................Navbar position button.............................................*/

.btnContainer {
  margin-left: 10%;
  margin-top: 10px;
  padding: 5px;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid black; */
}

.btnGrpName {
  margin-top: 20px;
  font-style: Cursive;
  font-weight: 500;
  font-size: 20px;
}

/*.......................................................css of the all avilable button..................................................*/

.btn {
  /* height: 150%; */
  margin-top: 1.1%;
  width: 10%;
  border: 3px solid grey;
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
}

/*...................................................css of the hover button container.....................................................*/

.mainButton {
  width: 23%;
  height: 15%;
  margin-left: 39.5%;
  margin-top: 23%;
}

/*................................................special feature added in the hover button..............................................*/

.hoverBtn {
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
}

/*................................................................css for the top position hover........................................*/

.top {
  height: 30%;
  width: 50%;
  margin-top: -50%;
  margin-left: 20%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(104, 23, 227, 0.1);
}

/*................................................................css for the right position hover........................................*/

.right {
  height: 30%;
  width: 50%;
  margin-top: -22%;
  margin-left: 105%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(104, 23, 227, 0.1);
}

/*................................................................css for the down position hover........................................*/

.down {
  height: 30%;
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(104, 23, 227, 0.1);
}

/*................................................................csss for the left position hover........................................*/

.left {
  height: 30%;
  width: 50%;
  margin-top: -22%;
  margin-left: -60%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(104, 23, 227, 0.1);
}
.active {
  background-color: rgba(62, 41, 94, 0.3);
}
